@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "spase mono", monospace;
  font-weight: 700;
  background: #c5e4e7;
}
.logo {
  text-align: center;
  margin-bottom: 87px;
  margin-top: 163px;
}
.tip-calculator {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  min-height: 481px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  padding: 45px 32px 48px 48px;

  .calculator {
    width: 100%;
    max-width: 379px;
    min-height: 388px;
    color: #5e7a7d;
    input {
      width: 100%;
      max-width: 379px;
      border: none;
      outline: none;
      padding: 5px;
      padding-right: 18px;
      text-align: right;
      font-size: 24px;
      background: #f3f9fa;
      color: #00474b;
      font-weight: bolder;
      margin-bottom: 40px;
      margin-top: 6px;
      border-radius: 8px;
      &:focus {
        border: 2px solid #26c2ae;
      }
    }
    .bill-input {
      background-image: url(/imges/dollar.svg);
      background-repeat: no-repeat;
      background-position: 16px;
    }
    .tip {
      display: grid;
      grid-template-columns: 117px 117px 117px;
      row-gap: 16px;
      column-gap: 14px;
      margin-top: 16px;
      margin-bottom: 32px;
      .tips {
        background: #00474b;
        color: white;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background: #9fe8df;
        }
      }
      .activ-tip {
        color: #00474b;
        background: #26c2ae;
        font-weight: bolder;
      }
      #tip-custom {
        width: 117px;
        height: 48px;
        font-size: 18px;
        line-height: 36px;
        border-radius: 8px;
      }
    }
    .people-input {
      background-image: url(/imges/people.svg);
      background-repeat: no-repeat;
      background-position: 16px;
      &:focus {
        border: 2px solid #e17052;
      }
    }
  }
  .resualt {
    width: 100%;
    max-width: 413px;
    min-height: 417px;
    background: #00474b;
    padding: 39px 21px;
    border-radius: 12px;
    .tip-amount,
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 41px;
    }
    .tex {
      h2 {
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
      }
      p {
        font-size: 12px;
        color: #7f9d9f;
      }
    }
    .amount {
      font-size: 48px;
      color: #26c2ae;
      line-height: 71px;
      letter-spacing: -1px;
    }
    .resent {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 333px;
      height: 48px;
      margin-top: 122px;
      margin-left: 15px;
      font-size: 20px;
      font-weight: 700;
      color: #00474b;
      background: #26c2ae;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: #9fe8df;
      }
    }
  }
}
@media (max-width: 880px) {
  .logo {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .tip-calculator {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 17px;
    flex-direction: column;
    max-width: 375px;
    padding: 32px;
    .calculator {
      padding: 0;
      width: 100%;
      max-width: 311px;
      margin: 0 auto;
      .tip {
        width: 311px;
        display: grid;
        grid-template-columns: 146px 146px;
        row-gap: 16px;
        #tip-custom > .tip-custom {
          box-sizing: border-box;
          width: 146px;
          height: 48px;
          font-size: 18px;
          line-height: 36px;
          border-radius: 8px;
          margin: 0;
        }
      }
    }
    .resualt {
      width: 100%;
      max-width: 327px;
      min-height: 257px;
      .tip-amount,
      .total {
        margin-bottom: 22px;
      }
      .amount {
        font-size: 32px;
      }
      .resent {
        margin-top: 32px;
      }
    }
  }
}
